<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scriptver.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Hola [Name], aquí están las noticias más relevantes</h1>
            <div>
                <input type="text" id="search" placeholder="Buscar noticias...">
                <button id="search-button">Buscar</button>
            </div>   
        <button onclick="redirectToCreateNewsPage()" class="create-news-btn">Crear Noticia</button>
        <script>
            function redirectToCreateNewsPage() {
                window.location.href = "/crearnoticia.html";
            }
        </script>
        <main id="noticias-list">
            <!-- Las noticias se cargarán aquí dinámicamente -->
        </main>
    </div>
</body>
</html>

